
:root{
    --fuente-principal: 'Lato', sans-serif;
    --color-primario: #121212;
    --color-secundario: #1E1E1E;
    --color-texto: #E0E0E0;
    --color-texto-secundario: #b0b0b0;
    --color-acento: #64FFDA;
    --color-sombra: rgba(0, 0, 0, 0.5);
}

/*BOX SIZING*/
html {
  box-sizing: border-box;
  line-height: 1.6;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*GENERALES*/

body {
    background-color: var(--color-primario);
    color: var(--color-texto);
    font-family: var(--fuente-principal);
}

section, form {
  margin: 0.5rem 1rem;
}

a {
    color: var(--color-acento);
    text-decoration: none;
}

span{
    font-weight: bold;
    color: var(--color-acento);
}

/*MAIN GRID*/
@media (min-width: 768px) {
  .container--grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 2rem;
    padding: 2rem;
}
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

/*HEADER*/
@media (min-width: 768px) {
  .header_titulo{
    margin-left: 2rem;
    padding-left: 2rem;
   
  }
}

.header_titulo{
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 1.5rem ;
  color: var(--color-texto);
}

.header{
  text-align: center;
}

@media (min-width: 768px) {
  .header{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    overflow-y: auto;
    gap: 2rem;
  }
}



/*---------------------ABOUT ME AND NAV-----------------*/

.navegacion_container{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}

@media (min-width: 768px) {
  .section_aboutme{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }

}


@media (min-width: 768px) {
  .navegacion_container{
  grid-row-start: 1;
  position: sticky;
  top: 10rem;
  overflow-y: auto;
  height: fit-content;

}
}


.aboutme_texto--titulo{
  font-size: 2rem;
  margin-top: 0;
  color: var(--color-texto);
}



.navegacion_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 1rem;
  }

@media (min-width: 768px) {
  .navegacion_flex{
    padding: 2rem;
    flex-direction: column;
    margin: 0rem 2rem; ;
 
  }
} 

.navegacion__enlace{
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

/*----------------------------CV------------------*/

.enlace_resume{
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--color-acento);
  border-radius: 5px;
  color: var(--color-primario);
  font-weight: bold;
  margin-top: 1rem;
  align-content: center;
}


.enlace_resume:hover{
  background-color: var(--color-sombra);
  transition: background-color 0.3s ease;
  color: var(--color-texto);
}



/*------------------PROYECTOS------------------*/

.proyecto_titulo{
  font-size: 2rem;
  margin-top: 0;
  color: var(--color-texto);
}

@media (min-width: 768px) {
  .container_proyectos{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -3;
    grid-row-end: -2;
    height: fit-content;
  }
}

.proyecto_item--imagen1{
  width: 95%;
  height: 5rem;
  margin: 0;
  background-image: url(/assets/cover_proyect1.jpg);
}


/*-----------------CONTACTO-------------------*/

@media (min-width: 768px) {
  .container_contacto{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -2;
    grid-row-end: -1;
    height: fit-content;
  }
}

.contactame_titulo{
  font-size: 2rem;
  color: var(--color-texto);
}

.contactame_item--input{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-acento);
  border-radius: 5px;
  color: var(--color-texto);
  background-color: var(--color-sombra);
}

.contactame_item--textarea{
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-acento);
  border-radius: 5px;
  color: var(--color-texto);
  background-color: var(--color-sombra);
  resize: none;

}



.contactame_item--boton{
  padding: 0.7rem 2rem;
  background-color: var(--color-acento);
  border: none;
  border-radius: 5px;
  color: var(--color-primario);
  width: 100%;
}

.contactame_item--boton:hover{
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-sombra);
  color: var(--color-texto);
  transition: background-color 0.3s ease;
  width: 100%;
}


@media (min-width: 768px) {
.contactame_item--boton{
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-acento);
  color: var(--color-primario);
  font-weight: bold;
  cursor: pointer;
  width: 10rem;
}

.contactame_item--boton:hover{
  width: 10rem;

}
}



/*-----------------FOOTER-------------------*/

.footer{
  padding: 2rem;
}


@media (min-width: 768px) {
.footer{
  display: grid;
  grid-template-columns: 1fr ;
  padding: 0 5rem 1rem 5rem;
  max-width: 1400px;
  margin: 0 auto;
  
}  
}
